/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap');



/*website-wide styles*/

body {
    background-image: url(whitebg.jpg);
    margin: 0 250px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body::-webkit-scrollbar {   /*styling scrollbar background bar*/
    width: 5px;
    background-color: whitesmoke;
  }

body::-webkit-scrollbar-thumb {     /*styling scrollbar draggable button*/
    background-color: black;
    border-radius: 5px;
}

h1 {
    font-weight: bold;
    font-size: 58px;
    color: rgb(29, 29, 29);
}

h2 {
    font-weight: bold;
    font-size: 50px;
    color: rgb(29, 29, 29);
}

h3 {
    font-size: 30px;
    color: rgb(29, 29, 29);
}

.navbar {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    border: 3px solid rgb(29, 29, 29);
    border-radius: 0 35px;
}

.navbar a{
    box-sizing: border-box;
    float: left;
    padding: 20px 0px;
    width: 20%;
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    transition: 0.2s;
}

.navbar a:hover {
    background-color: rgb(29, 29, 29);
    color: rgb(159, 159, 159);
}

.navbar a.active {
    background-color: rgba(245, 245, 245, 0);
    color: rgb(29, 29, 29);
    text-decoration: none;
}

.settings-container {
    position: relative;
    margin-top: 40px;
    right: 16%;
    width: 17%;
    height: 10%;
    border-radius: 70px;
}

.settings{
    border: none;
    padding: 0 15px;
    overflow: hidden;
    right: -70%;
    font-size: 60px;    /*adjusting size of icon*/
    height: auto;
    background-color: rgba(218, 218, 218, 0);
    border-radius: 40px;
    transition: 0.5s;   /*for slide animation*/
}

.settings-title {
    padding: 16px 15px;
    font-family: 'Roboto Mono', monospace;
    font-size: 27px;
}

.settings, .settings-title {
    position: absolute;
    color: rgb(29, 29, 29);
}

.settings:hover {
    padding-right: 160px;
    background-color: gainsboro;
}


/*dropdown menu for settings*/
.settings-dropdown-pos {
    position: absolute;
    display: block;
    right: 100;
}

.settings-dropdown-content {
    position: relative;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    /*transition: 0.2s;*/
}

.settings-dropdown-content a {
    padding: 16px;
    color: rgb(29, 29, 29);
    text-decoration: none;
    display: block;
}

.reveal-settings-dropdown {
    display: block;
    /*transition: 0.2s;*/
}

button:hover {
    cursor: pointer;    /*changing the cursor to the finger thing*/
}

.wrapper {
    display: flex;  /*to fit stuff in the same line*/
}

.button {
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    border: none;
    padding: 12px 32px;
    border-radius: 40px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    transition: 0.2s;
}

.button:hover {
    background-color: whitesmoke;
    color: black;
}

.book-button{
    padding: 95px 20px;
    margin: 0 15px;
    border: 1px solid grey;
    transition: 0.2s;
}

.book-button:hover {
    background-color: snow;
    border: 1px solid grey;
}

#logo {
    margin: 30px 0;
    margin-left: auto;      /*these two settles the centering problem*/
    margin-right: auto;     /*instead of justify content*/
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 65px;
    color: rgb(29, 29, 29);
}

#logo-login-signup {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: rgb(29, 29, 29);
    margin-top: 27px;
    margin-left: -190px;
}





/*login.php & signup.php*/

input[type=text] {          /*styling the form text box*/
    padding: 10px;
    padding-left: 20px;
    padding-right: 80px;
    margin: 2px 0;
    border: 1px solid rgba(0, 0, 0, 0.619);
    border-radius: 20px;
    box-sizing: border-box;
}

/*styling the form text box*/
input[type=email] {
    padding: 10px;
    padding-left: 20px;
    padding-right: 80px;
    margin: 2px 0;
    border: 1px solid rgba(0, 0, 0, 0.619);
    border-radius: 20px;
    box-sizing: border-box;
}

/*styling the form text box*/
input[type=password] {
    padding: 10px;
    padding-left: 20px;
    padding-right: 80px;
    margin: 2px 0;
    border: 1px solid rgba(0, 0, 0, 0.619);
    border-radius: 20px;
    box-sizing: border-box;
}

input::placeholder {
    color: black;
}

form {
    margin: 0 auto;
    width: 500px;
}

/*the container holding the password requirements*/
#password-criteria {
    display: none;     /*centering the entire element*/
    margin: auto;       /*using display:table*/
    margin-bottom: -32px;
    padding: 20px;
    position: relative;
    text-align: left;
    font-size: 13px;
}

/*adjusting spacing between the text*/
#password-criteria p {
    margin: 2px;
}

.valid {
    color: green;
}

.valid::before {
    position: relative;
    content: "✔ ";
}

.invalid {
    color: rgb(29, 29, 29);
}

.invalid::before {
    position: relative;
}

a.sign-in-up{
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.form-container {
    margin-left: auto;
    margin-right: auto;
}





/*read.html*/

.book-search-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.book-search {  /*styling the search bar*/
    margin-left: auto;
    margin-right: auto;
}

.book-search i {
    position: absolute;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 45px;
    color: rgb(64, 64, 64);
}

.book-search input {
    padding: 30px 0;
    padding-right: 170px;
    padding-left: 110px;
    background-color: rgba(29, 29, 29, 0);
    font-size: 30px;    /*placeholder font size*/
    border: 5px solid rgb(64, 64, 64);
    border-radius: 60px;
    transition: 0.2s;
}

.book-search input:hover {
    background-color: rgba(49, 49, 49, 0.134);
}

.book-search input::placeholder {
    overflow: visible;
    color: rgb(64, 64, 64);
}

.genre-selection-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
}

.genre-selection {
    margin: 1%;
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid grey;
    transition: 0.2s;
}

.genre-selection h2 {
    font-size: 32px;
    color: rgb(64, 64, 64);
}

.genre-selection:hover {
    background-color: rgba(49, 49, 49, 0.134);
}





/*editor.php*/
input[type=file] {  /*hiding the "premitive" button design*/
    display: none;
}

label { /*styling the label as a button*/
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 35px;
    position: relative;
    transition: 0.2s;
}

label:hover {
    background-color: whitesmoke;
    color: black;
}

textarea {
    position: relative;
    padding: 45%;
    /*continue styling textarea haiz*/
}





/*help.php*/

details {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    cursor: pointer;
}

summary {
    padding: 20px;
    font-size: 23px;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.help-description {
    margin-top: 0 30px;
    margin-left: 43px;
    margin-right: 43px;
    margin-bottom: 25px;
    text-align: justify;
}





/*myprofile.php*/

.profile-pic-container {    /*profile picture frame for myprofile.html*/
    width: 140px;
    height: 140px;
    border: 2px solid rgb(29, 29, 29);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.profile-pic {  /*profile picture configuration for myprofile.html*/
    width: 100%;
    height: 100%;
    object-fit: cover; /*making the photo fit nicely inside the container w/o destroying the aspect ratio*/
}

.profile-book-container {   /*container for books displayed in myprofile.html*/
    position: relative;
    overflow: auto;
    height: 200px;
}

.profile-book-container::-webkit-scrollbar {
    width: 5px;
    background-color: whitesmoke;
}

.profile-book-container::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}